.product-details {
  margin-top: 30px !important;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.product-details-info h6 {
  margin-bottom: 20px !important;
}

.product-details-info h6 strong{
  font-size: 16px;
}

.similar-products .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.similar-products .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-products .card-price {
  color: green;
  font-weight: bold;
}
.similar-products .card-text {
  color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
  transform: scale(0.9);
}

.similar-products .card-img-top {
  height: 300px !important;
}

.product-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}